body {
    background-color: white;
    font-size: 40px;
    text-align: center;
}

header {
    background-color:whitesmoke;
}

section {
    background-color: whitesmoke;
}

div{
    background-color: white;
}

footer {
    background-color: whitesmoke;
}

